@font-face {
  font-family: "Bornywale";
  src: url(fonts/Bornywale/BornywaleRegular.eot);
  src: url(fonts/Bornywale/BornywaleRegular.eot?#iefix) format("embedded-opentype"), url(fonts/Bornywale/BornywaleRegular.woff2) format("woff2"), url(fonts/Bornywale/BornywaleRegular.woff) format("woff"), url(fonts/Bornywale/BornywaleRegular.ttf) format("truetype"), url(fonts/Bornywale/BornywaleRegular.svg#BornywaleRegular) format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SegaArcadeFont";
  src: url(fonts/SegaArcadeFont-Regular.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.inner {
  width: 100%;
  padding: 4rem 10px 4rem;
}

h1 {
  text-align: center;
}
h1.logotext {
  color: #A4A642;
  font-family: "SegaArcadeFont", Arial, Helvetica, sans-serif;
  font-size: 64px;
}
h1.logoimg {
  border-radius: 50%;
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  border-radius: 50%;
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 1.4;
  color: #fff;
  background: #282828;
  height: 100vh;
}

a {
  text-decoration: none;
}
a.iconlink {
  color: #fff;
  transition: all 0.4s ease-in-out;
}
a.iconlink:hover {
  color: #BD8293;
}
a.linklistitem {
  color: #98BD82;
  text-decoration: none;
  border: 2px solid #A4A642;
  margin: 7px;
  padding: 10px;
  display: block;
  transition: all 0.3s ease-in-out;
}
a.linklistitem:hover {
  color: #282828;
  background-color: #98BD82;
}
a.linklistitem-high {
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  margin: 7px;
  padding: 10px;
  display: block;
  transition: all 0.3s ease-in-out;
}
a.linklistitem-high:hover {
  color: #5638f9;
  background-color: white;
}

.medialinks {
  text-align: center;
}

.center {
  display: block;
  width: 50%;
}

ul {
  list-style-type: none;
}

li {
  text-align: center;
}

body {
  color: #333;
  font: 100% Lato, Arial, Sans Serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#background-wrap {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

/* KEYFRAMES */
@-webkit-keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: -100%;
  }
}
@-moz-keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: -100%;
  }
}
@keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: -100%;
  }
}
@-webkit-keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}
@-moz-keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}
@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}
/* ANIMATIONS */
.x1 {
  -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: -5%;
  top: 5%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.x2 {
  -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  left: 5%;
  top: 80%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.x3 {
  -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 10%;
  top: 40%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.x4 {
  -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  -moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  left: 20%;
  top: 0;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.x5 {
  -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  left: 30%;
  top: 50%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.x6 {
  -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 50%;
  top: 0;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.x7 {
  -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 65%;
  top: 70%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.x8 {
  -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  -moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  left: 80%;
  top: 10%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.x9 {
  -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  left: 90%;
  top: 50%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.x10 {
  -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 80%;
  top: 80%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

/* OBJECTS */
.bubble {
  height: 200px;
  position: absolute;
  width: 200px;
}

.bubble:after {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: "";
  height: 180px;
  left: 10px;
  position: absolute;
  width: 180px;
}

/*# sourceMappingURL=App.css.map */
